
<mat-grid-list cols="4" rowHeight="350px" style="padding-left:30px;">
  <mat-grid-tile class="sample">
    <div class="text">
      <h4>Thought Leadership</h4>
      <div class="row">
        <div class="col-sm-3 noMargin">
          <hr>
        </div>
      </div>

      <a><strong>IBM DataPower Gateway Deployment in Amazon Web Services</strong></a>
      <div class="grayText">
        Cloud Applications
      </div>
      <br>
      <a><strong>Cara
          - A Retail Bot with Watson Assistant and Facebook Messenger</strong></a>
      <div class="grayText">
        Cognitive Computing
      </div>
      <br>
      <a><strong>Security
          Token Service with OAuth Using IBM DataPower Gateway</strong></a>
      <div class="grayText">
        EDGE Integration and API M
      </div>
      <br>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-list role="list">
      <div class="text">
        <h4>Team Miracle</h4>
        <div class="row">
          <div>
            <hr>
          </div>
        </div>
        <div>
          <ul>
            <li><a>Home</a></li>
            <li><a>The Company</a></li>
            <li><a>Partnerships</a></li>
            <li><a>Our Services</a></li>
            <li><a>Library</a></li>
            <li><a>Locations</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Memory Gallery</a></li>
            <li><a>Contact Us</a></li>
          </ul>
        </div>
      </div><br><br>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-list class="text" role="list">
      <div class="col-md-3 col-sm-6">
        <h4 class="noMargin">Opportunities</h4>
        <div class="row">
          <div class="col-sm-3">
            <hr>
          </div>
        </div>
        <div>
          <div class="media">
            <div class="media-body">
              <span><a>Refresh America<br>Ph : (248)-233-1100</a></span>
              <small><a>Multiple Positions Available - USA</a></small>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <span><a>IT Gurukulam<br>Ph : +91-(891)-662-3555</a></span>
              <small><a>Hiring 2017 Freshers - India</a></small>
            </div>
          </div>
          <div class="media">
            <div class="media-body">
              <span><a>Opportunities<br>Ph : (248)-233-1175</a></span>
            </div>
          </div>
        </div>
      </div><br><br><br><br><br><br>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-list class="text" role="list">
      <div class="col-md-3 col-sm-6">
        <h4 class="noMargin">Corporate HQ</h4>
        <div class="row">
          <div class="col-sm-3 noMargin">
            <hr>
          </div>
        </div>
        <address>
          <span itemprop="name"><strong>Miracle Software Systems, Inc.</strong></span><br>
          Global Headquarters<br>
          <span itemprop="streetAddress"> 45625 Grand River Avenue</span><br>
          <span itemprop="addressLocality">Novi,</span> <span itemprop="addressRegion"> MI </span>- USA(<span itemprop="postalCode">
            48374 </span>)<br>
          Ph: (248)-233-1100<br>
          E : info@miraclesoft.com
        </address>
        <br>
        <a><button mat-raised-button color="primary">Get in Touch</button></a>
      </div><br><br><br><br><br>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>