<div class="item img-responsive" style="background-image: url(https://d2b8lqy494c4mo.cloudfront.net/mss/images/slider/banner2.png);background-repeat:no-repeat;background-size:cover;">
    <div class="container">
        <div class="row">

            <div class="col-sm-1"></div>
            <div class="col-sm-10" style="margin-top:-127px;">
                <div class="carousel-content centered" style="margin-top: 126.5px;">
                    <h1 class="heavy animation animated-item-1">Digital Summit'18
                    </h1>
                    <h3 class="heavy animation animated-item-2">Miracle Valley, Vizag
                    </h3>
                    <p class="heavy animation animated-item-3">Join us on December 15th - 19th, 2018
                    </p>
                    <a class="btn btn-md animation animated-item-4" target="_blank" href="https://www.miraclesoft.com/digitalsummit/">Register
                        Now</a>
                    <br><br>
                </div>
            </div>
            <div class="col-sm-1 hidden-xs animation animated-item-4">
            </div>
        </div>
    </div>