<mat-toolbar color="transparent">
  <mat-toolbar-row>
      <div id="logo">
          <a href="../../../" class="standard-logo" data-dark-logo="https://d2b8lqy494c4mo.cloudfront.net/mss/images/miracle-logo-01.svg" width="150px" height="70px"><img src="https://d2b8lqy494c4mo.cloudfront.net/mss/images/miracle-logo-01.svg" width="150px" height="70px" alt="Miracle Logo" style=" margin-left:7px; margin-top: -4px;"></a>
        </div>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" [matMenuTriggerFor]="menu">COMPANY</button>
    <button mat-button class="example-icon">OUR SERVICES</button>
    <button mat-button class="example-icon">LIBRARY</button>
    <button mat-button class="example-icon">CAERRERS</button>
    <button mat-button class="example-icon">EVENTS</button>

  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="vertebrates">ABOUT US</button>
  <button mat-menu-item [matMenuTriggerFor]="invertebrates">WHY MIRACLE</button>
  <button mat-menu-item [matMenuTriggerFor]="VARIBLES">CONTACT</button>

</mat-menu>

<mat-menu #vertebrates="matMenu">
  <button mat-menu-item>COMPANY</button>
  <button mat-menu-item>GLOBAL PRESENCE</button>
  <button mat-menu-item>PARTNERSHIP</button>
  <button mat-menu-item>VISION 2020</button>
  <button mat-menu-item>AWARDS & CERTIFICATIONS</button>
</mat-menu>

<mat-menu #invertebrates="matMenu">
  <button mat-menu-item>GLOBAL DELEVERY MODEL</button>
  <button mat-menu-item>OUR METHODOLOGIES</button>
  <button mat-menu-item>SUCCESS STORIES</button>
  <button mat-menu-item>COE ECOSYSTEM</button>
  <button mat-menu-item>INOVATION CENTRE</button>
</mat-menu>

<mat-menu #VARIBLES="matMenu">
    <button mat-menu-item>CONTACT US</button>
    <button mat-menu-item>EMPLOYEE VERIFICATION</button>
    <button mat-menu-item>EMPLOYEE REFFERAL</button>
    <button mat-menu-item>SUGGESTION BOX</button>
  </mat-menu>

